<button mat-icon-button [routerLink]="['/']">
  <mat-icon>arrow_back</mat-icon>
</button>

<div *ngIf="person$ | async as person" class="push">
  <h1>
    {{ person?.properties?.name }}
  </h1>
  <b>Properties:</b>
  <div>ID: {{ person.uid }}</div>
  <div>Height: {{ person?.properties?.height }}</div>
  <div>Mass: {{ person?.properties?.mass }}</div>
  <div>Hair color: {{ person?.properties?.hair_color }}</div>
  <div>Skin color: {{ person?.properties?.skin_color }}</div>
  <div>Eye color: {{ person?.properties?.eye_color }}</div>
  <div>Birth year: {{ person?.properties?.birth_year }}</div>
  <div>Gender: {{ person?.properties?.gender }}</div>
  <div>Created: {{ person?.properties?.created | date }}</div>
  <div>Edited: {{ person?.properties?.edited | date }}</div>
  <a
    [routerLink]="[
      '/',
      'person',
      person.uid,
      'planet',
      person.properties.homeworld.split('/')[5]
    ]"
    >Homeworld
  </a>
</div>
